{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!-- Page Header -->
<div class="container show landing">
<h1 style="color: white; background: lightgreen; border: 4px solid white; padding: 35px; text-align: center;">Ceci est ma page d'accueil</h1>
<p style="text-align: center;">
Ici sera l'article <h1> "Le logement au Maroc" </h1>
</p>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block javascripts %}
   {{ parent() }}
    
{% endblock %}



