{% extends 'base.html.twig' %}

{% block body %}

  <div class="container show mt-4">
    <h1>Créer un nouveau bien</h1>
    {{ include('admin/bien/_form.html.twig', {button: 'Créer'}) }}
  </div>

{% endblock %}
